# Projet en Introduction au Pandas et Numpy

- ### Mikhael Presley KIBINDA-MOUKENGUE
- ### Serge Aristide PARE
- ### Ben BENTEKE

In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
path = '/home/students/Bureau/momo/'


path_  = path + 'AfriqueduNord.csv'
print(path_)

/home/students/Bureau/momo/AfriqueduNord.csv

In [3]:
pwd

'/home/students/Bureau/Github/Introduction au Pandas et Numpy'

In [4]:
!pip install pandas

Requirement already satisfied: pandas in /home/students/snap/jupyter/common/lib/python3.7/site-packages (0.25.1)
Requirement already satisfied: pytz>=2017.2 in /home/students/snap/jupyter/common/lib/python3.7/site-packages (from pandas) (2019.2)
Requirement already satisfied: numpy>=1.13.3 in /home/students/snap/jupyter/common/lib/python3.7/site-packages (from pandas) (1.17.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /snap/jupyter/6/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /snap/jupyter/6/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [5]:
af_ouest = pd.DataFrame({'superficie':[114763,272967,4033,322463,11295,238533,245857,36125,111369,1241238,1025520,1267000,
                                             923768,196722,71740,56785],
                         'population':[9352000,17482000,505000,20595000,1825000,25546000,10481000, 1580000,4245000,16319000,
                                             3623000,16644000,166629000,13108000,6126000,6283000],    
                         'densite':[81,64,125,64,162,107,43,44,38,13,4,13,180,67,85,111],    
                         'capitale':['Porto-Novo','Ouagadougou','Praia','Yamoussoukro','Banjul','Accra','Conakry','Bissau',
                                            'Monrovia','Bamako','Nouakchott','Niamey','Abuja','Dakar','Freetown','Lomé']
                         }
                         ,
                         index = ['Bénin','Burkina Faso','Cap-Vert','Côte d\'Ivoire','Gambie','Ghana','Guinée','Guinée-Bissau',
                                 'Liberia','Mali','Mauritanie','Niger','Nigeria','Sénégal','Sierra Leone','Togo'] 
                        )

In [6]:
af_ouest

               superficie  population  densite      capitale
Bénin              114763     9352000       81    Porto-Novo
Burkina Faso       272967    17482000       64   Ouagadougou
Cap-Vert             4033      505000      125         Praia
Côte d'Ivoire      322463    20595000       64  Yamoussoukro
Gambie              11295     1825000      162        Banjul
Ghana              238533    25546000      107         Accra
Guinée             245857    10481000       43       Conakry
Guinée-Bissau       36125     1580000       44        Bissau
Liberia            111369     4245000       38      Monrovia
Mali              1241238    16319000       13        Bamako
Mauritanie        1025520     3623000        4    Nouakchott
Niger             1267000    16644000       13        Niamey
Nigeria            923768   166629000      180         Abuja
Sénégal            196722    13108000       67         Dakar
Sierra Leone        71740     6126000       85      Freetown
Togo                56785     6283000      111          Lomé

In [7]:
af_ouest=af_ouest[['superficie','densite','population','capitale']]

In [8]:
af_ouest

               superficie  densite  population      capitale
Bénin              114763       81     9352000    Porto-Novo
Burkina Faso       272967       64    17482000   Ouagadougou
Cap-Vert             4033      125      505000         Praia
Côte d'Ivoire      322463       64    20595000  Yamoussoukro
Gambie              11295      162     1825000        Banjul
Ghana              238533      107    25546000         Accra
Guinée             245857       43    10481000       Conakry
Guinée-Bissau       36125       44     1580000        Bissau
Liberia            111369       38     4245000      Monrovia
Mali              1241238       13    16319000        Bamako
Mauritanie        1025520        4     3623000    Nouakchott
Niger             1267000       13    16644000        Niamey
Nigeria            923768      180   166629000         Abuja
Sénégal            196722       67    13108000         Dakar
Sierra Leone        71740       85     6126000      Freetown
Togo                56785      111     6283000          Lomé

In [9]:
af_ouest['region']=["Afrique de l'ouest"]*len(af_ouest)

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
af_ouest

,superficie,densite,population,capitale,region
Bénin,114763,81,9352000,Porto-Novo,Afrique de l'ouest
Burkina Faso,272967,64,17482000,Ouagadougou,Afrique de l'ouest
Cap-Vert,4033,125,505000,Praia,Afrique de l'ouest
Côte d'Ivoire,322463,64,20595000,Yamoussoukro,Afrique de l'ouest
Gambie,11295,162,1825000,Banjul,Afrique de l'ouest
Ghana,238533,107,25546000,Accra,Afrique de l'ouest
Guinée,245857,43,10481000,Conakry,Afrique de l'ouest
Guinée-Bissau,36125,44,1580000,Bissau,Afrique de l'ouest
Liberia,111369,38,4245000,Monrovia,Afrique de l'ouest
Mali,1241238,13,16319000,Bamako,Afrique de l'ouest
Mauritanie,1025520,4,3623000,Nouakchott,Afrique de l'ouest
Niger,1267000,13,16644000,Niamey,Afrique de l'ouest
Nigeria,923768,180,166629000,Abuja,Afrique de l'ouest
Sénégal,196722,67,13108000,Dakar,Afrique de l'ouest
Sierra Leone,71740,85,6126000,Freetown,Afrique de l'ouest
Togo,56785,111,6283000,Lomé,Afrique de l'ouest

In [11]:
af_ouest2 = af_ouest.copy()

# Création du champ 'langue' / # Creation of the field 'langue'
af_ouest2['langue'] = ['Français', 'Français','Portugais','Français','Anglais','Anglais','Français','Portugais','Anglais',
                      'Français','Français','Français','Anglais','Français','Anglais','Français']
af_ouest2['langue']

Bénin             Français
Burkina Faso      Français
Cap-Vert         Portugais
Côte d'Ivoire     Français
Gambie             Anglais
Ghana              Anglais
Guinée            Français
Guinée-Bissau    Portugais
Liberia            Anglais
Mali              Français
Mauritanie        Français
Niger             Français
Nigeria            Anglais
Sénégal           Français
Sierra Leone       Anglais
Togo              Français
Name: langue, dtype: object

In [12]:
af_ouest2[af_ouest2['langue'].isin(['Anglais','Français'])]

,superficie,densite,population,capitale,region,langue
Bénin,114763,81,9352000,Porto-Novo,Afrique de l'ouest,Français
Burkina Faso,272967,64,17482000,Ouagadougou,Afrique de l'ouest,Français
Côte d'Ivoire,322463,64,20595000,Yamoussoukro,Afrique de l'ouest,Français
Gambie,11295,162,1825000,Banjul,Afrique de l'ouest,Anglais
Ghana,238533,107,25546000,Accra,Afrique de l'ouest,Anglais
Guinée,245857,43,10481000,Conakry,Afrique de l'ouest,Français
Liberia,111369,38,4245000,Monrovia,Afrique de l'ouest,Anglais
Mali,1241238,13,16319000,Bamako,Afrique de l'ouest,Français
Mauritanie,1025520,4,3623000,Nouakchott,Afrique de l'ouest,Français
Niger,1267000,13,16644000,Niamey,Afrique de l'ouest,Français
Nigeria,923768,180,166629000,Abuja,Afrique de l'ouest,Anglais
Sénégal,196722,67,13108000,Dakar,Afrique de l'ouest,Français
Sierra Leone,71740,85,6126000,Freetown,Afrique de l'ouest,Anglais
Togo,56785,111,6283000,Lomé,Afrique de l'ouest,Français

In [13]:
af_nord = pd.read_csv(path + 'AfriqueduNord.csv', 
                      sep = ',',
                      decimal=",",
                      index_col= 'pays')

In [14]:
af_nord

          superficie  densite  population   capitale
pays
Algérie      2381740    17.05    40606052     Alger
Égypte       1001450    96.00    95688681  Le Caire
Libye        1759540     3.58     6293253   Tripoli
Maroc         710850    73.10    35276786     Rabat
Tunisie       163610    63.00    11403248     Tunis

In [15]:
af_nord.index.name=None
af_nord

          superficie  densite  population   capitale
Algérie      2381740    17.05    40606052     Alger
Égypte       1001450    96.00    95688681  Le Caire
Libye        1759540     3.58     6293253   Tripoli
Maroc         710850    73.10    35276786     Rabat
Tunisie       163610    63.00    11403248     Tunis

In [16]:
af_nord['region']=['Afrique du Nord']*len(af_nord)

In [17]:
af_nord

          superficie  densite  population   capitale           region
Algérie      2381740    17.05    40606052     Alger   Afrique du Nord
Égypte       1001450    96.00    95688681  Le Caire   Afrique du Nord
Libye        1759540     3.58     6293253   Tripoli   Afrique du Nord
Maroc         710850    73.10    35276786     Rabat   Afrique du Nord
Tunisie       163610    63.00    11403248     Tunis   Afrique du Nord

In [18]:
af_nord2 = af_nord.copy()

# Création du champ 'langue' / # Creation of the field 'langue'
af_nord2['langue'] = ['Français', 'Français','Français',
                      'Français','Français']
af_nord2['langue']

Algérie     Français
Égypte      Français
Libye       Français
Maroc       Français
Tunisie     Français
Name: langue, dtype: object

In [19]:
af_nord2[af_nord2['langue'].isin(['Français'])]

,superficie,densite,population,capitale,region,langue
Algérie,2381740,17.05,40606052,Alger,Afrique du Nord,Français
Égypte,1001450,96.00,95688681,Le Caire,Afrique du Nord,Français
Libye,1759540,3.58,6293253,Tripoli,Afrique du Nord,Français
Maroc,710850,73.10,35276786,Rabat,Afrique du Nord,Français
Tunisie,163610,63.00,11403248,Tunis,Afrique du Nord,Français

In [20]:
af_centrale=pd.read_csv(path +'AfriqueCentral.csv',
                       sep=',',
                       decimal=",",
                       index_col=None
                       )

In [21]:
af_centrale

,pays,superficie,densite,population,capitale
0,Angola,1246700,23.9,29784000,Luanda
1,Cameroun,475650,50.9,24054000,Yaoundé
2,Gabon,267668,7.9,2025000,Libreville
3,Guinée équatoriale,28052,45.2,1268000,Malabo
4,République centrafricaine,622984,7.5,4659000,Bangui
5,République démocratique du Congo,2344858,35.9,81340000,Kinshasa
6,République du Congo,342000,15.4,5261000,Brazzaville
7,Sao Tomé-et-Principe,964,212.8,204000,São Tomé
8,Tchad,1284000,11.8,14900000,N'Djaména

In [22]:
af_centrale = af_centrale.set_index('pays')

In [23]:
af_centrale.index.name=None
af_centrale

,superficie,densite,population,capitale
Angola,1246700,23.9,29784000,Luanda
Cameroun,475650,50.9,24054000,Yaoundé
Gabon,267668,7.9,2025000,Libreville
Guinée équatoriale,28052,45.2,1268000,Malabo
République centrafricaine,622984,7.5,4659000,Bangui
République démocratique du Congo,2344858,35.9,81340000,Kinshasa
République du Congo,342000,15.4,5261000,Brazzaville
Sao Tomé-et-Principe,964,212.8,204000,São Tomé
Tchad,1284000,11.8,14900000,N'Djaména

In [24]:
af_centrale['region']=['Afrique Centrale']*len(af_centrale)

In [25]:
af_centrale

,superficie,densite,population,capitale,region
Angola,1246700,23.9,29784000,Luanda,Afrique Centrale
Cameroun,475650,50.9,24054000,Yaoundé,Afrique Centrale
Gabon,267668,7.9,2025000,Libreville,Afrique Centrale
Guinée équatoriale,28052,45.2,1268000,Malabo,Afrique Centrale
République centrafricaine,622984,7.5,4659000,Bangui,Afrique Centrale
République démocratique du Congo,2344858,35.9,81340000,Kinshasa,Afrique Centrale
République du Congo,342000,15.4,5261000,Brazzaville,Afrique Centrale
Sao Tomé-et-Principe,964,212.8,204000,São Tomé,Afrique Centrale
Tchad,1284000,11.8,14900000,N'Djaména,Afrique Centrale

af_centrale.index.name=None
af_centrale

In [26]:
af_centrale2=af_centrale.copy()
af_centrale2['langue']=['Français','Français','Français','Français','Français',
                       'Français','Français','Français','Français']
af_centrale2['langue']

Angola                               Français
Cameroun                             Français
Gabon                                Français
Guinée équatoriale                   Français
République centrafricaine            Français
République démocratique du Congo     Français
République du Congo                  Français
Sao Tomé-et-Principe                 Français
Tchad                                Français
Name: langue, dtype: object

In [27]:
af_centrale2[af_centrale2['langue'].isin(['Français'])]

,superficie,densite,population,capitale,region,langue
Angola,1246700,23.9,29784000,Luanda,Afrique Centrale,Français
Cameroun,475650,50.9,24054000,Yaoundé,Afrique Centrale,Français
Gabon,267668,7.9,2025000,Libreville,Afrique Centrale,Français
Guinée équatoriale,28052,45.2,1268000,Malabo,Afrique Centrale,Français
République centrafricaine,622984,7.5,4659000,Bangui,Afrique Centrale,Français
République démocratique du Congo,2344858,35.9,81340000,Kinshasa,Afrique Centrale,Français
République du Congo,342000,15.4,5261000,Brazzaville,Afrique Centrale,Français
Sao Tomé-et-Principe,964,212.8,204000,São Tomé,Afrique Centrale,Français
Tchad,1284000,11.8,14900000,N'Djaména,Afrique Centrale,Français

In [28]:
af_lest=pd.read_csv(path +'Afriquelest.csv',
                    sep=',',
                    decimal=",",
                    index_col='pays')

In [29]:
af_lest

                superficie  densite  population      capitale
pays
Burundi              27834   398.70    11099298       Gitega
Djibouti             25030    21.00      810179     Djibouti
Érythrée            121320    50.00     5869970       Asmara
Éthiopie           1127127    88.00   105350020  Addis-Abeba
Kenya               580367    72.02    41800000      Nairobi
Ouganda             241550   172.00    41487965      Kampala
Rwanda               26338   462.70    12187400       Kigali
Seychelles             455   203.10       92430     Victoria
Somalie             637657    18.00     1259029   Mogadiscio
Soudan du Sud       619745    20.20    12530717       Djouba
Tanzanie            945087    52.00    57310019       Dodoma

In [30]:
af_lest.index.name=None
af_lest

                superficie  densite  population      capitale
Burundi              27834   398.70    11099298       Gitega
Djibouti             25030    21.00      810179     Djibouti
Érythrée            121320    50.00     5869970       Asmara
Éthiopie           1127127    88.00   105350020  Addis-Abeba
Kenya               580367    72.02    41800000      Nairobi
Ouganda             241550   172.00    41487965      Kampala
Rwanda               26338   462.70    12187400       Kigali
Seychelles             455   203.10       92430     Victoria
Somalie             637657    18.00     1259029   Mogadiscio
Soudan du Sud       619745    20.20    12530717       Djouba
Tanzanie            945087    52.00    57310019       Dodoma

In [31]:
af_lest['region']=['Afrique de l\est']*len(af_lest)

In [32]:
af_lest

,superficie,densite,population,capitale,region
Burundi,27834,398.70,11099298,Gitega,Afrique de l\est
Djibouti,25030,21.00,810179,Djibouti,Afrique de l\est
Érythrée,121320,50.00,5869970,Asmara,Afrique de l\est
Éthiopie,1127127,88.00,105350020,Addis-Abeba,Afrique de l\est
Kenya,580367,72.02,41800000,Nairobi,Afrique de l\est
Ouganda,241550,172.00,41487965,Kampala,Afrique de l\est
Rwanda,26338,462.70,12187400,Kigali,Afrique de l\est
Seychelles,455,203.10,92430,Victoria,Afrique de l\est
Somalie,637657,18.00,1259029,Mogadiscio,Afrique de l\est
Soudan du Sud,619745,20.20,12530717,Djouba,Afrique de l\est
Tanzanie,945087,52.00,57310019,Dodoma,Afrique de l\est

In [33]:
af_lest2=af_lest.copy()
af_lest2['langue']=['Anglais']*len(af_lest2)

In [34]:
af_lest2

,superficie,densite,population,capitale,region,langue
Burundi,27834,398.70,11099298,Gitega,Afrique de l\est,Anglais
Djibouti,25030,21.00,810179,Djibouti,Afrique de l\est,Anglais
Érythrée,121320,50.00,5869970,Asmara,Afrique de l\est,Anglais
Éthiopie,1127127,88.00,105350020,Addis-Abeba,Afrique de l\est,Anglais
Kenya,580367,72.02,41800000,Nairobi,Afrique de l\est,Anglais
Ouganda,241550,172.00,41487965,Kampala,Afrique de l\est,Anglais
Rwanda,26338,462.70,12187400,Kigali,Afrique de l\est,Anglais
Seychelles,455,203.10,92430,Victoria,Afrique de l\est,Anglais
Somalie,637657,18.00,1259029,Mogadiscio,Afrique de l\est,Anglais
Soudan du Sud,619745,20.20,12530717,Djouba,Afrique de l\est,Anglais
Tanzanie,945087,52.00,57310019,Dodoma,Afrique de l\est,Anglais

In [35]:
af_australe=pd.read_csv(path +'AfriqueAustrale.csv',
                        sep =',',
                        decimal =",",
                        index_col ='pays')

In [36]:
af_australe

                superficie  densite  population      capitale
pays
Afrique du Sud     1219912       46    55653654      Pretoria
Botswana            581726        3     2209208      Gaborone
Comores               2612      343      813912        Moroni
Swaziland            17363       82     1451428       Lobamba
Lesotho              30355       63     1924381        Maseru
Madagascar          587041       41    24430325  Antananarivo
Malawi              118844      152    18091575      Lilongwe
Maurice               2040      630     1259838    Port-Louis
Mozambique          801590       32    25900000        Maputo
Namibie             825418        3     2484780      Windhoek
Zimbabwe            390245       36    14030368        Harare
Zambie              752614       20    15066266        Lusaka

In [37]:
af_australe.index.name=None
af_australe

                superficie  densite  population      capitale
Afrique du Sud     1219912       46    55653654      Pretoria
Botswana            581726        3     2209208      Gaborone
Comores               2612      343      813912        Moroni
Swaziland            17363       82     1451428       Lobamba
Lesotho              30355       63     1924381        Maseru
Madagascar          587041       41    24430325  Antananarivo
Malawi              118844      152    18091575      Lilongwe
Maurice               2040      630     1259838    Port-Louis
Mozambique          801590       32    25900000        Maputo
Namibie             825418        3     2484780      Windhoek
Zimbabwe            390245       36    14030368        Harare
Zambie              752614       20    15066266        Lusaka

In [38]:
af_australe['region']=['Afrique australe']*len(af_australe)

In [39]:
af_australe

,superficie,densite,population,capitale,region
Afrique du Sud,1219912,46,55653654,Pretoria,Afrique australe
Botswana,581726,3,2209208,Gaborone,Afrique australe
Comores,2612,343,813912,Moroni,Afrique australe
Swaziland,17363,82,1451428,Lobamba,Afrique australe
Lesotho,30355,63,1924381,Maseru,Afrique australe
Madagascar,587041,41,24430325,Antananarivo,Afrique australe
Malawi,118844,152,18091575,Lilongwe,Afrique australe
Maurice,2040,630,1259838,Port-Louis,Afrique australe
Mozambique,801590,32,25900000,Maputo,Afrique australe
Namibie,825418,3,2484780,Windhoek,Afrique australe
Zimbabwe,390245,36,14030368,Harare,Afrique australe
Zambie,752614,20,15066266,Lusaka,Afrique australe

In [40]:
af_australe['langue']=['Anglais']*len(af_australe)

In [41]:
af_australe

,superficie,densite,population,capitale,region,langue
Afrique du Sud,1219912,46,55653654,Pretoria,Afrique australe,Anglais
Botswana,581726,3,2209208,Gaborone,Afrique australe,Anglais
Comores,2612,343,813912,Moroni,Afrique australe,Anglais
Swaziland,17363,82,1451428,Lobamba,Afrique australe,Anglais
Lesotho,30355,63,1924381,Maseru,Afrique australe,Anglais
Madagascar,587041,41,24430325,Antananarivo,Afrique australe,Anglais
Malawi,118844,152,18091575,Lilongwe,Afrique australe,Anglais
Maurice,2040,630,1259838,Port-Louis,Afrique australe,Anglais
Mozambique,801590,32,25900000,Maputo,Afrique australe,Anglais
Namibie,825418,3,2484780,Windhoek,Afrique australe,Anglais
Zimbabwe,390245,36,14030368,Harare,Afrique australe,Anglais
Zambie,752614,20,15066266,Lusaka,Afrique australe,Anglais

In [42]:
all_region = pd.concat([af_ouest, af_nord, af_centrale, af_lest, af_australe], sort=True)

In [43]:
all_region

,capitale,densite,langue,population,region,superficie
Bénin,Porto-Novo,81.00,NaN,9352000,Afrique de l'ouest,114763
Burkina Faso,Ouagadougou,64.00,NaN,17482000,Afrique de l'ouest,272967
Cap-Vert,Praia,125.00,NaN,505000,Afrique de l'ouest,4033
Côte d'Ivoire,Yamoussoukro,64.00,NaN,20595000,Afrique de l'ouest,322463
Gambie,Banjul,162.00,NaN,1825000,Afrique de l'ouest,11295
Ghana,Accra,107.00,NaN,25546000,Afrique de l'ouest,238533
Guinée,Conakry,43.00,NaN,10481000,Afrique de l'ouest,245857
Guinée-Bissau,Bissau,44.00,NaN,1580000,Afrique de l'ouest,36125
Liberia,Monrovia,38.00,NaN,4245000,Afrique de l'ouest,111369
Mali,Bamako,13.00,NaN,16319000,Afrique de l'ouest,1241238
Mauritanie,Nouakchott,4.00,NaN,3623000,Afrique de l'ouest,1025520
Niger,Niamey,13.00,NaN,16644000,Afrique de l'ouest,1267000
Nigeria,Abuja,180.00,NaN,166629000,Afrique de l'ouest,923768
Sénégal,Dakar,67.00,NaN,13108000,Afrique de l'ouest,196722
Sierra Leone,Freetown,85.00,NaN,6126000,Afrique de l'ouest,71740
Togo,Lomé,111.00,NaN,6283000,Afrique de l'ouest,56785
Algérie,Alger,17.05,NaN,40606052,Afrique du Nord,2381740
Égypte,Le Caire,96.00,NaN,95688681,Afrique du Nord,1001450
Libye,Tripoli,3.58,NaN,6293253,Afrique du Nord,1759540
Maroc,Rabat,73.10,NaN,35276786,Afrique du Nord,710850
Tunisie,Tunis,63.00,NaN,11403248,Afrique du Nord,163610
Angola,Luanda,23.90,NaN,29784000,Afrique Centrale,1246700
Cameroun,Yaoundé,50.90,NaN,24054000,Afrique Centrale,475650
Gabon,Libreville,7.90,NaN,2025000,Afrique Centrale,267668
Guinée équatoriale,Malabo,45.20,NaN,1268000,Afrique Centrale,28052
République centrafricaine,Bangui,7.50,NaN,4659000,Afrique Centrale,622984
République démocratique du Congo,Kinshasa,35.90,NaN,81340000,Afrique Centrale,2344858
République du Congo,Brazzaville,15.40,NaN,5261000,Afrique Centrale,342000
Sao Tomé-et-Principe,São Tomé,212.80,NaN,204000,Afrique Centrale,964
Tchad,N'Djaména,11.80,NaN,14900000,Afrique Centrale,1284000
Burundi,Gitega,398.70,NaN,11099298,Afrique de l\est,27834
Djibouti,Djibouti,21.00,NaN,810179,Afrique de l\est,25030
Érythrée,Asmara,50.00,NaN,5869970,Afrique de l\est,121320
Éthiopie,Addis-Abeba,88.00,NaN,105350020,Afrique de l\est,1127127
Kenya,Nairobi,72.02,NaN,41800000,Afrique de l\est,580367
Ouganda,Kampala,172.00,NaN,41487965,Afrique de l\est,241550
Rwanda,Kigali,462.70,NaN,12187400,Afrique de l\est,26338
Seychelles,Victoria,203.10,NaN,92430,Afrique de l\est,455
Somalie,Mogadiscio,18.00,NaN,1259029,Afrique de l\est,637657
Soudan du Sud,Djouba,20.20,NaN,12530717,Afrique de l\est,619745
Tanzanie,Dodoma,52.00,NaN,57310019,Afrique de l\est,945087
Afrique du Sud,Pretoria,46.00,Anglais,55653654,Afrique australe,1219912
Botswana,Gaborone,3.00,Anglais,2209208,Afrique australe,581726
Comores,Moroni,343.00,Anglais,813912,Afrique australe,2612
Swaziland,Lobamba,82.00,Anglais,1451428,Afrique australe,17363
Lesotho,Maseru,63.00,Anglais,1924381,Afrique australe,30355
Madagascar,Antananarivo,41.00,Anglais,24430325,Afrique australe,587041
Malawi,Lilongwe,152.00,Anglais,18091575,Afrique australe,118844
Maurice,Port-Louis,630.00,Anglais,1259838,Afrique australe,2040
Mozambique,Maputo,32.00,Anglais,25900000,Afrique australe,801590
Namibie,Windhoek,3.00,Anglais,2484780,Afrique australe,825418
Zimbabwe,Harare,36.00,Anglais,14030368,Afrique australe,390245
Zambie,Lusaka,20.00,Anglais,15066266,Afrique australe,752614

In [44]:
df=all_region[['population','region']].groupby(['region']).agg(['std', 'mean', lambda x: x.std()/x.mean()])

In [45]:
df

                      population
                             std          mean <lambda_0>
region
Afrique Centrale    2.595417e+07  1.816611e+07   1.428714
Afrique australe    1.627204e+07  1.360964e+07   1.195626
Afrique de l'ouest  3.979997e+07  2.002144e+07   1.987868
Afrique de l\est    3.268372e+07  2.634518e+07   1.240595
Afrique du Nord     3.554852e+07  3.785360e+07   0.939105

In [46]:
df=all_region[['population','region']].groupby(['region']).agg(['std', 'mean', 'min', 'max', lambda x: x.std()/x.mean()])

In [47]:
df

                      population
                             std          mean      min        max <lambda_0>
region
Afrique Centrale    2.595417e+07  1.816611e+07   204000   81340000   1.428714
Afrique australe    1.627204e+07  1.360964e+07   813912   55653654   1.195626
Afrique de l'ouest  3.979997e+07  2.002144e+07   505000  166629000   1.987868
Afrique de l\est    3.268372e+07  2.634518e+07    92430  105350020   1.240595
Afrique du Nord     3.554852e+07  3.785360e+07  6293253   95688681   0.939105

In [48]:
df=all_region[['population','region']].groupby(['region']).agg(['std', 'mean', 'min', 'max', lambda x: x.std()/x.mean(), lambda x: abs(x.mean()-x.max()), lambda x: x.mean()-x.min() ])

In [49]:
df

                      population                                               \
                             std          mean      min        max <lambda_0>
region
Afrique Centrale    2.595417e+07  1.816611e+07   204000   81340000   1.428714
Afrique australe    1.627204e+07  1.360964e+07   813912   55653654   1.195626
Afrique de l'ouest  3.979997e+07  2.002144e+07   505000  166629000   1.987868
Afrique de l\est    3.268372e+07  2.634518e+07    92430  105350020   1.240595
Afrique du Nord     3.554852e+07  3.785360e+07  6293253   95688681   0.939105


                      <lambda_1>    <lambda_2>
region
Afrique Centrale    6.317389e+07  1.796211e+07
Afrique australe    4.204401e+07  1.279573e+07
Afrique de l'ouest  1.466076e+08  1.951644e+07
Afrique de l\est    7.900484e+07  2.625275e+07
Afrique du Nord     5.783508e+07  3.156035e+07

In [50]:
df=all_region[['densite','region']].groupby(['region']).mean()

In [51]:
df

                       densite
region
Afrique Centrale     45.700000
Afrique australe    120.916667
Afrique de l'ouest   75.062500
Afrique de l\est    141.610909
Afrique du Nord      50.546000

In [52]:
af_ouest[['densite','region']].groupby(['region']).min()

                    densite
region
Afrique de l'ouest        4